.btn-burger {
  width: 10%;
  z-index: 2;
  text-align: center;
}

.btn-burger img {
  width: 40%;
}

.active {
 position: relative;
}

.hide {
  display: none;
}

.menu {
  top: 10%;
  width: 100vw;
  padding: 50px;
  text-align: center;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */    
}

  
.menu li {
  padding: 10px 0;
  font-size: 22px;
  }
  
/*
* And let's slide it in from the left
*/
#menuToggle input:checked ~ ul {
  transform: none;
  }

