* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    min-height: 0;
    min-width: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    max-width: 30%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7% 0%;
}

.logeate {
    text-align: center;
    padding: 5% 0% 5% 0%;
    font-size: 1.3rem;
}

.form {
    width: 70%;
    margin-top: 5%;
}

.form input {
    width: 100%;
    margin: 4% 0%;
    padding: 5%;
    background-color: #E7F0FE;
    border: 1px solid #dfdfdf;
}

.form input:active {
    width: 100%;
    padding: 5%;
    background-color: #E7F0FE;
    border: 1px solid #dfdfdf;
}

.iniciar-sesion {
    text-align: center;
}

.iniciar-sesion button {
    font-size: 1rem;
    padding: 3% 10%;
    border-radius: 5px;
    margin: 10% 0%;
    border: none;
    color: white;
    background-color: #0069D8;
    border: 1px solid #0069D8;

    cursor: pointer;
}

.iniciar-sesion button:hover {
    background-color: white;
    border: 1px solid #0069D8;
    color: #0069D8;
}

.text {
    text-align: center;
    font-size: 0.8rem;
}

.subrayado {
    text-decoration: underline;
}

.forgot-password {
    margin-top: 5%;
}

.forgot-password a {
    text-decoration: none;
    color: #000000;
}


@media (max-width: 480px) and (min-width: 300px) {

    .login-container {
        max-width: 80%;
        min-width: 80%;
    }

.logeate {
    text-align: center;
    padding: 5% 0% 5% 0%;
    font-size: 1rem;
}

}
